body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
body.light-theme {
    background-color: #fff;
}
body.dark-theme {
    background-color: #202124;
}
header {
    display: flex;
    position: relative;
    justify-content: end;
    padding: 5px;
    z-index: 2;
}
header a {
    margin: 0 10px;
}
footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
body.dark-theme footer {
    background-color: #171717;
}
form {
    display: grid;
    align-items: center;
}
input {
    outline: none;
}
input[type="text"] {
    width: 100%;
    border: none;
    font-size: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: transparent;
    border-radius: 25px;
    line-height: 22px;
}
body.dark-theme input[type="text"] {
    color: #e8e8e8;
}
input[type="submit"], button {
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #1f1f1f;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
input[type="submit"]:hover, button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #1f1f1f;
}
body.dark-theme input[type="submit"], button {
    color: #e8e8e8;
    background-color: #303134;
    border: 1px solid transparent;
}
body.dark-theme input[type="submit"]:hover, button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #5f6368;
}
button {
    color: #1f1f1f;
    background-color: #f8f9fa;
    border: 1px solid transparent;
}
button:hover {
    border: 1px solid #dadce0;
}
body.dark-theme button {
    color: #e8e8e8;
    background-color: #303134;
    border: 1px solid transparent;
}
body.dark-theme button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #5f6368;
}
label {
    color: #1f1f1f;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
}
body.dark-theme label {
    color: #e8e8e8;
}
a {
    color: #1f1f1f;
    text-decoration: none;
}
body.dark-theme a {
    color: #e8e8e8;
}
a:hover {
    text-decoration: underline;
}
.box-header {
    margin: 15px;
}
.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 150px;
    left: 0;
    right: 0;
}
.container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-logo {
    max-height: 92px;
    position: relative;
}
.logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
.container-form {
    width: -webkit-fill-available;
    padding: 20px;
}
.search {
    margin: 0 auto;
    width: auto;
    padding-top: 6px;
    position: relative;
    max-width: 584px;
}
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    background-color: #ecedef;
}
.search-bar:hover {
    border: 1px solid transparent;
    background-color: #dadce0;
}
body.dark-theme .search-bar {
    background-color: #4d5156;
    border: 1px solid transparent;
}
body.dark-theme .search-bar:hover {
    border: 1px solid transparent;
    background-color: #5f6368;
}
.search-icon {
    fill: #9aa0a6;
    display: flex;
    height: 46px;
    line-height: 20px;
    width: 20px;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}
.search-button {
    display: flex;
    padding-top: 18px;
    justify-content: center;
}
.country {
    color: #1f1f1f;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
body.dark-theme .country {
    color: #e8e8e8;
    border-bottom: 1px solid #313335;
}
.footer-element {
    display: flex;
    justify-content: space-between;
}
.footer-box {
    display: flex;
}
.footer-link {
    color: #1f1f1f;
    display: flex;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 30px;
    text-decoration: none;
}
.footer-link:hover {
    text-decoration: underline;
}
body.dark-theme .footer-link {
    color: #e8e8e8;
}